#gugel {
  width: 160px;
  padding: 60px 0 20px 60px;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
h1,
p {
  margin: 0 50px 0 50px;
  padding: 10px 10px;
  color: #585858;
  text-align: left;
  position: relative;
}
h2 {
  position: relative;
  text-align: center;
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}
.row img {
  box-sizing: content-box;
  margin: 20px 20px;
  border-radius: 8px;
  flex: 27%;
}
button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 20px;
  border: 0ch;
  text-align: center;
  position: relative;
  background-color: #585858;
  letter-spacing: 2px;
  color: white;
  border-radius: 8px;
  font-size: 10pt;
}
footer {
  margin-top: 50px;
  background-color: #f6f6f6;
  padding: 10px 16px;
  color: #585858;
}
input {
  border: 0ch;
  background-color: #f6f6f6;
  border-bottom: solid 1px #c9c9c9;
  padding: 24px 0 20px 24px;
  text-align: left;
  font-size: 14pt;
}
h3 {
  font-size: 16pt;
  letter-spacing: 5pt;
}
#msg {
  box-sizing: content-box;
  width: 480px;
}
#name {
  box-sizing: content-box;
  width: 230px;
}
#email {
  box-sizing: content-box;
  width: 230px;
}
.dezute1 {
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
}
.getintouch {
  padding: 10px;
  flex: 70%;
}
.follow {
  padding: 10px;
  flex: 30%;
}
/*.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.row:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}*/
@media (min-width: 750px) {
  .dezute1 {
    flex: 100%;
    flex-direction: row;
  }
}
